body {
  background: #eee;
}

.form-signin{
  width: 350px;
  margin: 80px auto;
}

input[type="text"] {
  margin-top: 20px;
}

input[type="submit"] {
  margin-top: 60px;
}

label { 
  font-weight: 100;
}

.error{
  display: none;
  background: #ffeded;
  color: #b94a48;    
  position: fixed;
  top: 12%;
  left: 25%;
  min-width: 500px;        
  max-width: 900px;
  width: 79%;    
  border-radius: 4px;      
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
  z-index: 9999999;
  font-size: 17px;        
  padding:10px 15px;      
}

.success{    
  background:#f0faf1 !important;
  color:#58715e !important;
  display: none;
  position: fixed;        
  top: 50px;
  left:20%;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ededed;
  padding: 5px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
  z-index: 9999999;
  font-size: 17px;        
  padding:10px 15px;
}

.closeMes {
  color: #CDD1DA;
  position: absolute;
  left: 97.5%;
  cursor: pointer;
  top: 7px;
  outline: 0px solid red;
}

.closeMes:hover {
  color: #b94a48;  
}

.help-block {
  position: relative;
  top: -5px;
  display: none;
  color: #b94a48;
}

.invalid {  
  border: solid #b94a48 1px !important; 
  box-shadow: 0px 0px 4px 0px #b94a48 !important;
}

.valid {  
  border: solid #ccc 1px !important; 
  box-shadow: 0px 0px 4px 0px #fff !important;
}    

.fa-ticket {
  color: #0088cc;
  font-size: 20px;
  margin-right: 5px;
}

.well{
    width:450px;
    margin: 0 auto;
}

.auth {
    display: block;
    margin-top: 50px;
}

.auth button {
    text-transform: uppercase;
}
